@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#app {
  max-width: 100%;
  text-align: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
ol{
  list-style: none;
}

.row{
  width: 100%;
}

.page-content {
  padding: 20px;
}

.card{
  box-shadow:0 0 1.25rem rgba(31,45,61,.08);
  margin-bottom:20px;
  border:0!important;
  border-radius:10px;
  -webkit-transition:background .2s ease-in-out;
  -moz-transition:background .2s ease-in-out;
  -o-transition:background .2s ease-in-out;
  transition:background .2s ease-in-out
}

.card .card-body{
  padding:25px
}

.page-info {
  padding: 1rem 2rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-nav {
  margin: 0;
}

.breadcrumb {
  margin-bottom: 0;
}


.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  color: #d7d7d7;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  margin: 0 0.5rem;
  color: #6b7280;
}

.breadcrumb-link {
  color: #535bf2;
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumb-link:hover {
  color: #4347d9;
}

.breadcrumb-item.active {
  color: #d7d7d7;
}

.divider{
  display:block;
  content:'';
  width:100%;height:1px;
  background:hsla(0, 0%, 65%, 0.158);
  margin:30px 0
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
